*{
    padding: 7px;

    box-sizing: border-box;
    font-family:cursive;

}

body{
    background-color: rgba(1, 91, 209, 0.288);
}

.cabecalho{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#photo-easy{
    
}

#title{
    font-size: 100px;
    font-family: sans-serif;
    font-weight: bolder;
    
}
.Topics-Menu li {
    list-style-type: none;

} 
.Topics-Menu li a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    
}

h2{
    font-size: 60px;
    font-family: sans-serif;
    font-weight: bolder;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width:100%;
    height:auto;

}


.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 2300px;
    margin: 0 auto;
}

.container > div{
    flex: 1 1 550px;

}

.two{
    width: 1000px;
    height: 800px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}


.banner1, 
.banner2,.banner3, .banner4, .banner5, .banner6,.banner7,.banner8,.banner9,.banner10,.banner11,.banner12{
    width: 100%;
    height: 100%;
    top: 0;
    right: 100%;
    position: absolute;
    background-color: rgba(255, 249, 249, 0.534);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    color: rgb(0, 0, 0);
    padding:88px;
    transition: 4s;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}



.two:hover .banner1 {
    right: 0;
    
}
h3{ 
    text-transform:uppercase;
    font-size: 25px;
}
h3:hover{
    font-size: 30px;
}

p{
    font-size: 16px;

}

.btn{
    color: rgb(29, 24, 24);
    background-color: rgba(240, 248, 255, 0.219);
    margin-bottom: 50px;
    border-radius: 4px;
    text-transform: capitalize;
    border: none;
    outline: none;
    font-weight: 500;
    cursor: pointer;
}

.two:hover .banner2{
    right: 0;
}

.two:hover .banner3{
    right: 0;
}

.two:hover .banner4{
    right: 0;
}

.two:hover .banner5{
    right: 0;
    
}

.two:hover .banner6{
    right: 0;
}

.two:hover .banner7{
    right: 0;
}

.two:hover .banner8{
    right: 0;
}
.two:hover .banner9{
    right: 0;
}

.two:hover .banner10{
    right: 0;
}

.two:hover .banner11{
    right: 0;
}

.two:hover .banner12{
    right: 0;
}

.banner1, 
.banner2,.banner3, .banner4, .banner5, .banner6,.banner7,.banner8,.banner9,.banner10,.banner11,.banner12{
    opacity: 0;
}

.two:hover .banner1, 
.banner2,.banner3, .banner4, .banner5, .banner6,.banner7,.banner8,.banner9,.banner10,.banner11,.banner12{
    opacity: 1;
}





