*{
    padding: 7px;
    margin: 15px;
    box-sizing: border-box;
}

.cabecalho{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#title{
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bolder;
    
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width:100%;
    height:auto;
}
.text-font{
    margin: 10px;
    padding: 5px;

}
h3{
    margin: 20px;
    font-size: 25px;
    font-family: fantasy;
    outline: 0.6px;
}
.one{
    background-image: url(i639136.jpeg);
    background-repeat: no-repeat;
    background: cover;
    background-position: center;

}